<a href="https://colab.research.google.com/github/ashishtekam/ashishtekam/blob/main/Big_Sales_Prediction_Random_Forest_Rregressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Big Sales Prediction Using Random Forest Regression**

# Import Libraries

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import warnings
warnings.simplefilter('ignore')

#Import Dataset

In [ ]:
df = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Big%20Sales%20Data.csv')

#Get the first five rows of dataframe

In [ ]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDT36,12.3,Low Fat,0.111448,Baking Goods,33.4874,OUT049,1999,Medium,Tier 1,Supermarket Type1,436.608721
1,FDT36,12.3,Low Fat,0.111904,Baking Goods,33.9874,OUT017,2007,Medium,Tier 2,Supermarket Type1,443.127721
2,FDT36,12.3,LF,0.111728,Baking Goods,33.9874,OUT018,2009,Medium,Tier 3,Supermarket Type2,564.598400
3,FDT36,12.3,Low Fat,0.000000,Baking Goods,34.3874,OUT019,1985,Small,Tier 1,Grocery Store,1719.370000
4,FDP12,9.8,Regular,0.045523,Baking Goods,35.0874,OUT017,2007,Medium,Tier 2,Supermarket Type1,352.874000

In [ ]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2389
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

#Get information of dataframe

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11815 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

# Treating Missing Values

In [ ]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11815 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            11815 non-null  object
 1   Item_Weight                11815 non-null  float64
 2   Item_Fat_Content           11815 non-null  object
 3   Item_Visibility            11815 non-null  float64
 4   Item_Type                  11815 non-null  object
 5   Item_MRP                   11815 non-null  float64
 6   Outlet_Identifier          11815 non-null  object
 7   Outlet_Establishment_Year  11815 non-null  int64
 8   Outlet_Size                11815 non-null  object
 9   Outlet_Location_Type       11815 non-null  object
 10  Outlet_Type                11815 non-null  object
 11  Item_Outlet_Sales          11815 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.2+ MB

In [ ]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#Get the summary statistics

In [ ]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11815.000000,11815.000000,11815.000000,11815.000000,11815.000000
mean,12.788355,0.063624,140.656171,2000.425053,2041.744225
std,4.654126,0.048555,62.264762,6.650972,1402.636001
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.026648,93.463300,1997.000000,957.108936
50%,12.500000,0.052312,141.915400,2002.000000,1737.738000
75%,16.750000,0.091493,185.760800,2007.000000,2842.676161
max,30.000000,0.313935,266.888400,2009.000000,10256.649000

#Seperate Dependent and Independent Variable

In [ ]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [ ]:
y = df['Item_Outlet_Sales']

In [ ]:
y.shape

(11815,)

In [ ]:
X = df[['Item_Weight', 'Item_Visibility', 'Item_MRP']]

In [ ]:
X.shape

(11815, 3)

Get Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 2529)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8270, 3), (3545, 3), (8270,), (3545,))

#Scaling of Features or Independent Variable X

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
X_train_ss = ss.fit_transform(X_train)

In [ ]:
X_test_ss = ss.fit_transform(X_test)

#Get Model Train

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr = RandomForestRegressor()

In [ ]:
rfr.fit(X_train_ss, y_train)

RandomForestRegressor()

#Get Model Prediction

In [ ]:
y_pred =rfr.predict(X_test_ss)

In [ ]:
y_pred.shape

(3545,)

In [ ]:
y_pred

array([ 981.41225962, 2454.22935762, 1808.85501325, ..., 1687.54866433,
       2626.11521844, 2100.78879675])

#Get Model Evaluation

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

In [ ]:
mean_squared_error(y_test, y_pred)

1150900.5076220655

In [ ]:
mean_absolute_error(y_test, y_pred)

747.071409334434

In [ ]:
mean_absolute_percentage_error(y_test, y_pred)

0.7642396860146435

In [ ]:
r2_score(y_test, y_pred)

0.4119334820970624

#Get Future Prediction

In [ ]:
df_new = df.sample(1)

In [ ]:
df_new

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10369,FDW03,5.63,Regular,0.041077,Meat,106.5306,OUT010,1998,Medium,Tier 3,Grocery Store,641.750987

In [ ]:
X_new = df_new[['Item_Weight', 'Item_Visibility', 'Item_MRP']]

In [ ]:
X_new.shape

(1, 3)

In [ ]:
y_pred_new = rfr.predict(X_new)

In [ ]:
y_pred_new

array([2539.0658779])